<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scyypt.dao.ItemNotesTypeDao">


	<select id="list" resultType="com.scyypt.entity.ItemNotesTypeEntity">
		 
		 SELECT t.*
		 from item_note_type t
	</select>
 
	
	<insert id="add" parameterType="com.scyypt.entity.ItemNotesTypeEntity" useGeneratedKeys="true" keyProperty="id">
		
		<selectKey keyProperty="id" resultType="int">  
            select LAST_INSERT_ID()
        </selectKey>
        
		insert into item_note_type(type, comment)
		values (#{type}, #{comment})
	</insert>


	<update id="edit" parameterType="com.scyypt.entity.ItemNotesTypeEntity">
		UPDATE item_note_type SET
		type = #{type}, 
		comment=#{comment}, 
		where id=#{id}
	</update>
	
	
	<delete id="del" parameterType="String">
		DELETE FROM item_note_type t
		<where>
			<if test="id !=null and id !=''">
			 and t.id = #{id}
			</if>
		</where>
	</delete>
	
	
	<select id="info" resultType="com.scyypt.entity.ItemNotesTypeEntity">
		 
		 SELECT t.* from item_note_type t
		<where>
			<if test="id !=null and id !=''">
			 and t.id = #{id}
			</if>
		</where>
	</select>
	
</mapper>