<div class="bg container-fluid">
  <div class="row">
    <div class="col-sm-2 rightside">
      <div class="rightside">
        <ul class="list-group">
          <li class=""><a routerLink = '/indexpage/indexhome/typemanage'>类型管理</a><span class="rightArrow"></span></li>
          <li class=""><a routerLink = '/indexpage/indexhome/logmanage'>日志管理</a><span class="rightArrow"></span></li>
          <li class=""><a routerLink = '/indexpage/indexhome/setauthority'>权限管理</a><span class="rightArrow"></span></li>
          <li class=""><a>设置选项</a><span class="rightArrow"></span></li>
          <li class=""><a>设置选项</a><span class="rightArrow"></span></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
