.power_left {
    float: left;
    background-color: #fff;
}
.power_bg ::after {
    content: "";
    display: table;
    clear: both;
}
.power_bg {
    height: 800px;
    background-color: #fff;
    padding-top: 20px;
}
.power_right {
    float: right;
    background-color: #fff;
}
.left {
    float: left;
}
.right {
    float: right;
    margin-right: 20px;
}
.searchCol ::after {
    content: '';
    display: table;
    clear: both;
}
.btnGroup {
    padding-left: 40px;
    margin-bottom: 20px;
}
.btnGroup button {
    margin-right: 10px;
}
