<div class="power_bg">
    <div class="btnGroup">
        <button type="button" class="btn btn-default" routerLink = '/indexpage/indexhome/setauthority'>用户管理</button>
        <button type="button" class="btn btn-default" routerLink = '/indexpage/indexhome/rolemanage'>角色管理</button>
        <button type="button" class="btn btn-default" routerLink = '/indexpage/indexhome/modulemanage'>模块管理</button>
        <button type="button" class="btn btn-default" routerLink = '/indexpage/indexhome/importuser'>导入用户</button>
    </div>
    <div>
        <div class="searchCol">
            <button class="btn right" (click) = 'addRoleManage()'>新增</button>
        </div>
        <div class="datatable">
          <table class="table">
            <thead>
              <tr>
                <th>序号</th>
                <th>角色</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let item of roleData; let i = index'>
                <td>{{i+1}}</td>
                <td>{{item.role_name}}</td>
                <td><a (click) = 'updataRoleManage(i)'>修改</a><a (click) = 'delRoleManage(i)'>删除</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <ng-template #role></ng-template>
  </div>